<!doctype html>
<html lang="en">
    {{ partial "header_en.html" . }}
    <section>
        
        <div class="title-box">
        {{ range .Site.RegularPages.ByWeight.Reverse }}
            {{ if and (eq .Type "en") (ne .Title "Home")}}
            <h1 class="home-title">
                <a href="{{ .Permalink }}" id="{{ .Title }}">{{ .Title }},</a> <!-- marche si dans le projet, pas dans le theme -->  
            </h1>
            {{ end }}
        {{ end }}
        </div>
        <div id="home-image"></div>
    </section>
    {{ partial "footer_en.html" . }}
</body>
</html>
