<!doctype html>
<html lang="en">
    {{ partial "header_en.html" . }}
    <section>
        <div class="title-box">
            <h1 class="home-title">
        {{ range .Site.RegularPages.ByWeight.Reverse }}
            {{ if eq .Type "en" }}
                <a href="{{ .Permalink }}" id="{{ .Title }}">{{ .Title }},</a> <!-- marche si dans le projet, pas dans le theme -->  
            {{ end }}
        {{ end }}
            </h1>
        </div>
        <div id="home-image"></div>
    </section>
    {{ partial "footer_en.html" . }}
</body>
</html>