<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Caroline Sorin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href={{ "/css/main.css" | relURL }}> 
    <link rel="stylesheet" href={{ "/fonts/fonts.css" | relURL }}> 
    <script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
<div class="id">
	<a href="../../index.html" class="info">caroline sorin</a>
</div>
<div class="about">
	<a href="../../about/about_fr" class="info">à propos</a>
</div>