<!doctype html>
<html lang="en">
    {{ partial "header_fr.html" . }}
    <section>
        <div class="title-box">
        {{ range .Data.Pages.ByWeight.Reverse }}
            {{ if eq .Type "fr" }}
            <h1 class="home-title">
                <a href="{{ .Permalink }}" id="{{ .Title }}">{{ .Title }},</a> <!-- marche si dans le projet, pas dans le theme -->  
            </h1>
            {{ end }}
        {{ end }}
        </div>
        <div id="home-image"></div>
    </section>
    {{ partial "footer_fr.html" . }}
</body>
</html>
