<!doctype html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Caroline Sorin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="../js/script.js"></script>
</head>
<body>
    {{ partial "header_fr.html" . }}
    
	{{ .Content }}	

    <!--<section>
        <div class="title-box">
            <h1 class="home-title">
        {{ range .Data.Pages }}
            {{ if eq .Type "project"}}
                <a href="{{ .Permalink }}" id="{{ .Title }}">{{ .Title }},</a>  marche si dans le projet, pas dans le theme  
            {{ end }}
        {{ end }}
            </h1>
        </div>
        <div id="home-image"></div>
    </section> -->

    {{ partial "footer_fr.html" . }}
</body>
</html>